<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>
    <property>
        <name>dfs.namenode.name.dir</name>
        <value>{{ HADOOP_HOME }}/data/namenode</value>
    </property>
    <property>
        <name>dfs.datanode.data.dir</name>
        <value>{{ HADOOP_HOME }}/data/datanode</value>
    </property>
    <property>
        <name>dfs.replication</name>
        <value>2</value>
    </property>
</configuration>
